@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

#stream_jwtform {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	font-family: 'Roboto Mono', monospace !important;
}

#stream_jwtform, #stream_jwtform * {
	box-sizing: border-box;
}

#stream_jwtform .header {
  width: 100%;
  justify-content: center;
}
#stream_jwtform .header .inputs input:first-of-type {
	margin-right: 7.5px;
}
#stream_jwtform .header .inputs input:last-of-type {
	margin-left: 7.5px;
}

#stream_jwtform .header .inputs {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#stream_jwtform .header .inputs > * { 
	flex: 1
}

#stream_jwtform .container {
	margin: 15px;
	display: flex;
	flex: 1;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0;
}

#stream_jwtform pre {
	background-color: transparent;
	border: 1px solid #eeeeee;
	border-bottom: transparent; 
	box-shadow: 0 3px 0 0 #006CFF;
	white-space: normal;
	padding: 24px;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 40px;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
}

#stream_jwtform pre > span {
	word-break: break-all;
}

#stream_jwtform pre > span:nth-of-type(1) {color: #F50057;}
#stream_jwtform pre > span:nth-of-type(2) {color: #6200EA;}
#stream_jwtform pre > span:nth-of-type(3) {color: #006CFF;}

#stream_jwtform input  {
	font-family: 'Roboto Mono', monospace;
	outline: 0;
	margin: 0;
	font-size: 16px;
    padding: 16px;
	border: 0;
	border: 1px solid #eeeeee;
}
#stream_jwtform input:focus {
	background-color: #f9f9f9;
	box-shadow: inset 0 -3px 0 0 #006CFF;

}

#stream_jwtform select {
	font-family: 'Roboto Mono', monospace;
	outline: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background-color: #f9f9f9;
	border: 1px solid #eeeeee;
    padding: 16px;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: calc(100% - 16px) center;
}

#stream_jwtform #warning {
	padding: 16px;
	border-radius: 8px;
	background-color: #4D7CFE10;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#4D7CFE;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: monospace;
}
